<!DOCTYPE html>
<html lang="en">

<%- include("../partials/head"); %>

<body class="container">
    <%- include("../partials/header", {pagina: "Sobre"}); %>

    <main class="jumbotron">
        <h1>Sobre mim</h1>
        <p>Olá, sou Pablo Galvão Cabugueira</p>
    </main>

    <%- include("../partials/footer"); %>
</body>

</html>